<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="yuumediaConnectionString" connectionString="Data Source=(local);Initial Catalog=yuumedia;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>